#home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  padding: 80px 10% 50px 10%;
  overflow-x: hidden;
}
.home-content {
  max-width: 600px;
}
.home-content h2 {
  color: rgba(255, 255, 255, 0.7);
  font-size: 20px;
  opacity: 0;
}
section.animate .home-content h2 {
  animation: slideBottom 1s ease forwards;
  animation-delay: 0.7s;
}
.home-content h3 {
  margin: 10px 0;
  font-size: 34px;
  font-weight: 300;
  opacity: 0;
}
section.animate .home-content h3 {
  animation: slideBottom 1s ease forwards;
  animation-delay: 0.7s;
}
.home-content h3:nth-of-type(2) {
  margin-bottom: 30px;
}
section.animate .home-content h3:nth-of-type(2) {
  animation: slideTop 1s ease forwards;
  animation-delay: 0.7s;
}
.home-content h3 span {
  color: #0ef;
}
.home-content h1 {
  font-size: 56px;
  font-weight: 700;
  margin: -3px 0;
  opacity: 0;
}
section.animate .home-content h1 {
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}
.home-content p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
  letter-spacing: 2px;
  opacity: 0;
}
section.animate .home-content p {
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}
.home-sci {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 20px;
  margin: 20px 0;
  margin-bottom: 0;
}
.home-sci a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 50%;
  font-size: 30px;
  color: #0ef;
  text-decoration: none;
  transition: all 0.5s ease;
  opacity: 0;
}
section.animate .home-sci a {
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}
.home-sci a:hover {
  box-shadow: 0 0 20px #0ef;
}
.btn-box {
  margin: 20px 0;
  display: inline-block;
  padding: 12px 28px;
  background: #0ef;
  border-radius: 40px;
  font-size: 16px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  box-shadow:
    0 0 5px #0ef,
    0 0 25px #0ef;
}
section.animate .btn-box {
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
}
.btn-box:hover {
  box-shadow:
    0 0 5px cyan,
    0 0 25px cyan,
    0 0 50px cyan,
    0 0 100px cyan,
    0 0 200px cyan;
}
.image {
  min-width: 450px;
  height: 450px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow:
    0 0 5px cyan,
    0 0 25px cyan,
    0 0 50px cyan,
    0 0 100px cyan,
    0 0 200px cyan,
    0 0 500px cyan;
  border-width: 2px;
  border-color: whitesmoke;
  opacity: 0;
}
section.animate .image {
  animation: slideLeft 1s ease forwards;
  animation-delay: 0.8s;
}

@media (max-width: 1300px) {
  .image {
    min-width: 350px;
    height: 350px;
  }
}

@media (max-width: 1000px) {
  .image {
    min-width: 250px;
    height: 250px;
  }
  .home-content h1 {
    font-size: 40px;
  }
  .home-content h3 {
    font-size: 27px;
  }
}

@media (max-width: 750px) {
  #home {
    flex-direction: column-reverse;
    gap: 10px;
    justify-content: center;
  }
  .image {
    margin-top: 50px;
    min-width: 200px;
    height: 200px;
  }
}
