#project {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 80px 10% 50px 10%;
  overflow-x: hidden;
}
#project > h3 {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: left;
  opacity: 1;
  margin-bottom: 30px;
}
#project > h3 > span {
  color: #0ef;
}
section.animate > h3 {
  animation: slideRight 1s ease forwards;
}

#allvideodiv {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  min-height: 76vh !important;
  max-height: 86vh !important;
  gap: 1px;
  scroll-snap-type: x mandatory;
}
#allvideodiv::-webkit-scrollbar {
  display: none;
} 
#allvideodiv > div {
  min-width: 99%;
  display: flex;
  margin-right: 12px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  /* box-shadow:
    0 0 20px rgba(0, 238, 255, 0.7),
    0 0 100px rgba(0, 238, 255, 0.3); */
}
.videoContainer {
  overflow: hidden;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.5);
  box-shadow:
    0 0 20px rgba(0, 238, 255, 0.8),
    0 0 50px rgba(0, 238, 255, 0.5);
}
.videoContainer:hover {
  border-color: rgba(255, 255, 255, 0.7);
}
#project video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  cursor: pointer;
}
.detail {
  padding: 20px 40px;
  min-height: 30%;
}
.detail > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}
.detail > div > h2 {
  font-size: 30px;
  letter-spacing: 1px;
  text-align: left;
  color: #0ef;
  margin-bottom: 20px;
  font-weight: 600;
}
.detail > div > i {
  font-size: 30px;
  color: rgba(240, 248, 255, 0.6);
  color: #0ef;
}
.detail > p {
  font-size: 16px;
  text-align: left;
  color: rgba(240, 248, 255, 0.6);
}

#slidebtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}
#slidebtn button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
#slidebtn button:hover {
  background-color: white;
}
#slidebtn button.active {
  width: 12px;
  height: 12px;
  background-color: #0ef;
}