#project {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 80px 10% 50px 10%;
  overflow-x: hidden;
}
#project > h3 {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: left;
  opacity: 1;
}
#project > h3 > span {
  color: #0ef;
}
section.animate > h3 {
  animation: slideRight 1s ease forwards;
}
#project > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  box-shadow:
    0 0 20px rgba(0, 238, 255, 0.7),
    0 0 100px rgba(0, 238, 255, 0.3);
}
#project > div video {
  width: 100%;
  height: auto;
  border-radius: 20px;
  cursor: pointer;
  max-height: 80vh;
}
.detail {
  padding: 30px 50px;
}
.detail > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}
.detail > div > h2 {
  font-size: 30px;
  letter-spacing: 1px;
  text-align: left;
  color: #0ef;
  margin-bottom: 20px;
  font-weight: 600;
}
.detail > div > i {
  font-size: 30px;
  color: rgba(240, 248, 255, 0.6);
  color: #0ef;
}
.detail > p {
  font-size: 16px;
  text-align: left;
  color: rgba(240, 248, 255, 0.6);
}


.cv {
  margin-top: 50px;
  padding: 15px 100px;
  font-size: 25px;
  font-weight: 800;
  color: #0ef;
  background-color: transparent;
  border: 2px solid #0ef;
  border-radius: 50px;
  cursor: pointer;
  width: fit-content;
  align-self: center;
  box-shadow: 0 0 rgba(0, 238, 255, 0.7) inset;
  transition: all 0.5s ease-in-out;
}
.cv:hover {
  background-color: #0ef;
  color: #081b29;
}

